<config>
	<custom>
		<project>
			<server>dbsrv.systtech.ru</server>
			<dataBase>ch_offtake_delme</dataBase>
			<dataBaseUser/>
			<!--clear if us win auth -->
			<dataBasePassword/>
			<!-- use ";" to separate-->
			<port>default</port>
			<!--clear if us win auth -->
			<recipients>y.egorov@systtech.ru</recipients>
		</project>
		<project>
			<server>dbsrv.systtech.ru</server>
			<dataBase>replica4000_3_1_2</dataBase>
			<dataBaseUser/>
			<!--clear if us win auth -->
			<dataBasePassword/>
			<!-- use ";" to separate-->
			<port>default</port>
			<!--clear if us win auth -->
			<recipients>y.egorov@systtech.ru</recipients>
			
		</project>
	</custom>

	<date>20191201</date>
	<!--yyyyMMdd-->
	<dataType>html</dataType>
	<!--html,csv,xls пока не работает-->
	<delimiter>	</delimiter>
	<!--csv delimiter-->
	<supervisorRecipients>xirurr@gmail.com</supervisorRecipients>
	<mailServer>smtp.gmail.com</mailServer>
	<mailPort>587</mailPort>
	<mailUser>statistictest772@gmail.com</mailUser>
	<mailPassword>asdfio435(jad</mailPassword>
</config>
